<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col my-3">
      <h1>Administración de artículos</h1>
    </div>
  </div>
  <div class="row my-2">
    <app-listado-articulos [datosArticulos]="datosArticulos" (seleccionarDato)="recibirDatoSeleccionado($event)"></app-listado-articulos>
  </div>
  <div class="row">
    <div class="col">
      <p>Código: <input type="text" id="codigo" [(ngModel)]="codigo"></p>
      <p>Descripción: <input type="text" id="descripcion" [(ngModel)]="descripcion"></p>
      <p>Precio: <input type="text" id="precio" [(ngModel)]="precio"></p>
      <div class="btn btn-secondary mx-3" (click)="agregarDatos()">Agregar</div>
      <div class="btn btn-secondary mx-3" (click)="modificarDatos()">Modificar</div>
    </div>
  </div>
</div>

